:root {
  background-color: #7461fa;
}

.title {
  font-size: 64px;
  color: #6352d5;
  z-index: 999;
  padding-bottom: 5vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
}

.Container {
  position: relative;
  background-color: #7461fa;
  height: 500px;
  width: 400px;
  border-radius: 50px;
  box-shadow: 50px 50px 100px #6352d5, -50px -50px 100px #8570ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #2a294e;
}

.info {
  position: relative;
  top: -25px;
}

.icon {
  width: 100px;
}

.time {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 64px;
  color: #6352d5;
}

.temp {
  position: absolute;
  top: 40px;
  right: -90px;
  font-size: 48px;
}

.min {
  font-size: 28px;
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.max {
  font-size: 28px;
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.min-text {
  position: absolute;
  bottom: 75px;
  left: 100px;
}

.max-text {
  position: absolute;
  bottom: 75px;
  right: 100px;
}