:root {
  background-color: #242424;
}

.title {
  font-size: 64px;
  color: #6352d5;
  z-index: 999;
  padding-bottom: 2vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
}

.Container {
  position: relative;
  background: none;
  height: 500px;
  width: 400px;
  border: 15px solid #6352d5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #6352d5;
}

.info {
  position: relative;
  top: -25px;
}

.icon {
  width: 100px;
}

.time {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 4rem;
  color: #6352d5;
}

.temp {
  position: absolute;
  top: 40px;
  right: -90px;
  font-size: 48px;
}

.min {
  font-size: 28px;
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.max {
  font-size: 28px;
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.min-text {
  position: absolute;
  bottom: 75px;
  left: 100px;
}

.max-text {
  position: absolute;
  bottom: 75px;
  right: 100px;
}

.ChangeDayButton {
  position: absolute;
  top: 50vh;
  border: 0.25rem solid #6352d5;
  background: none;
  width: 5rem;
  height: 3rem;
  color: #6352d5;
  font-size: 2rem;
}

.prev {
  left: 10vw;
}

.next {
  right: 10vw;
}